# 打印日志

# 0. 执行任务时是否显示签到详情，1 为显示，0 为不显示，默认为 1
DISPLAY_CONTEXT=1


# 推送方式

# 1. 钉钉机器人
DD_BOT_TOKEN=""

# 2. Server 酱
PUSH_KEY=""
# Turbo 版
PUSH_TURBO_KEY=""

# 3. PUSHPLUS
PUSH_PLUS_TOKEN=""

# 4. Qmsg 酱
QMSG_KEY=""

# 5. 企业微信
# 企业微信 ID
CORPID=""
# 企业微信应用 ID
AGENTID=""
# 企业微信密钥
CORPSECRET=""

# 6. TelegramBot
TG_BOT_TOKEN=""
TG_USER_ID=""


# 信息配置 
